* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

:focus {
    outline: 0
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    pointer-events: none !important
}

.preloader {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    pointer-events: none
}

.loaded.preloader {
    opacity: 1;
    transition: 3s ease
}

.loader-section {
    height: 100%;
    position: fixed;
    transition: 4s ease all;
    top: 0;
    width: 50%
}

.section-left {
    background-color: #55102aea;
    left: 0
}

.section-right {
    background-color: #55102aea;
    right: 0
}

.loaded .loader-section.section-left {
    transform: translateX(-100%);
    transition: 3s ease all
}

.loaded .loader-section.section-right {
    transform: translateX(100%);
    transition: 3s ease all
}

.spinner {
    animation: spinner .7s infinite linear;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border-top-color: #fff;
    height: 15em;
    position: fixed;
    width: 15em
}

.icon {
    font-size: 4em;
    position: fixed;
    color: transparent;  
  text-shadow: 0 0 0 #cc8d60;
}

.txt-welcome {
    color: #cc8d60;
    font: bold 3em Monoton, sans-serif;
    letter-spacing: 3px;
    line-height: 100vh;
    text-align: center;
    text-shadow: 1px 1px 5px #444
}

@keyframes spinner {
    to {
        transform: rotateZ(360deg)
    }
}

.split {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 100000;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px
}

.left {
    left: 0
}

.right {
    right: 0
}

.centered {
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-40%, -45%);
    text-align: center
}

.centered img {
    width: 100px;
    border-radius: 50%
}

.wel,
.come {
    position: relative;
    top: 10%;
    font-size: 3em;
    font-family: 'Flavors', cursive;
    color: #ffb27bea;
    text-shadow: #444;

    font-weight: 1000;
}

.wel {
    text-align: right
}

.come {
    text-align: left
}

.left-gate {
    width: 100%;
    position: relative;
    top: 55%
}

.left-gate img {
    float: right
}

.right-gate {
    width: 100%;
    position: relative;
    top: 55%;
}

.right-gate img {
    float: left
}

.date-left, .date-right {
    position: relative;
    top: 55%;
    font-size: 3em;
    font-family: 'Flavors', cursive;
    color: #ffb27bea;
    text-shadow: #444;

    font-weight: 800;
}

.date-left{
    text-align: right
}

.date-right {
    text-align: left
}

.name-left, .name-right {
   margin-top: 20px;
    font-size: 1.3em;
    font-family: 'Flavors', cursive;
    color: #ffb27bea;
    text-shadow: #444;
    text-align: center;
    font-weight: 800;
}